    {% include "header.html" %}
      <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://cdnn21.img.ria.ru/images/07e6/06/19/1798060358_0:318:3075:2048_1920x0_80_0_0_08a08c34ddb72801c9c4a8509fca5775.jpg');
      height: 600px;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 1%;">

      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Алые Паруса 2023</h1>
          <a class="btn btn-outline-light btn-lg" href="{{ url_for('form') }}" role="button">Купить Билеты</a>
        </div>
      </div>
        <div class="d-flex justify-content-center" style="background-color: #FFFFFF">
    </div>
    <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://cdn.icon-icons.com/icons2/630/PNG/512/sailing-boat_icon-icons.com_57917.png" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">О Мероприятии</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Алые Паруса - это волшебный и незабываемый праздник, который ежегодно проходит в Санкт-Петербурге и привлекает множество жителей и гостей города. В этом году мероприятие проходит 24 июня. Праздник стал символом окончания учебного года и начала взрослой жизни. Главным событием Алых Парусов является торжественный корабельный парад по реке Неве. Весь город оживает в день Алых Парусов. Улицы и набережные украшены флагами, цветами и искусственными парусами. На главной сцене, расположенной на Дворцовой площади, проходят концерты известных артистов, танцевальные выступления и театральные представления. Вокруг царит атмосфера праздника, радости и надежды. Кульминацией праздника Алые Паруса является великолепное шоу с фейерверками. Небо над городом превращается в настоящий калейдоскоп огней, создавая незабываемую иллюзию волшебства и красоты.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      </div>
    </div>
  </div>

    <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://cdn-icons-png.flaticon.com/512/432/432312.png" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">Про Спрос на Билеты</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Билеты на праздник Алые Паруса в Санкт-Петербурге обычно пользуются огромным спросом среди жителей города и туристов. В связи с популярностью мероприятия, билеты расходятся очень-очень быстро, и многие люди бронируют билеты за несколько недель. Интерес к билетам обусловлен несколькими факторами. Во-первых, это уникальное и масштабное событие, которое проходит только раз в году. Люди стремятся не упустить возможность увидеть впечатляющий корабельный парад, фейерверки и другие захватывающие выступления. Во-вторых, само мероприятие стало символом города и его культурного наследия, что делает его особенно привлекательным для посетителей. Также стоит отметить, что купить билеты в кассе - невозможно чисто физически, так как они выдаются выпускникам в день мероприятия. Ограниченный тираж и невозможность покупки билета в кассе - вот что создает дополнительный спрос и стимул для людей покупать билеты заранее и обеспечить себе место на мероприятии.</p>
        <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Почему именно Мы? </h1>
    <div class="col-lg-6 mx-auto">
      <ul class="list-unstyled">
          <li style="font-size: 15px"><h3 style="font-weight: bold; margin-top: 20px"><img src="https://cdn-icons-png.flaticon.com/512/2474/2474450.png" style="height: 40px; width: 40px"> Гарантия лучшей цены</h3><br> - <u>Рады предоставить лучшие цены на билеты, по сравнению с конкурентами. Также, при покупке от 2-ух билетов действует скидка 10% на весь заказ</u></li>
          <li style="font-size: 15px"><h3 style="font-weight: bold; margin-top: 20px"><img src="https://cdn-icons-png.flaticon.com/512/879/879169.png" style="height: 40px; width: 40px; margin-bottom: 10px; margin-right: 10px">Хорошая репутация и довольные отзывы</h3><br> - <u>У нас есть большое количество положительных отзывов и постоянных клиентов, покупающих билеты ежегодно.</u></li>
          <li style="font-size: 15px"><h3 style="font-weight: bold; margin-top: 20px"><img src="https://cdn2.iconfinder.com/data/icons/business-management-69/64/goal-idea-content-marketing-target-business-approach-512.png" style="height: 40px; width: 40px; margin-bottom: 5px; margin-right: 10px">Профессиональный подход</h3><br> - <u>Мы - команда предпринимателей, которые занимаются продажей билетов уже не первый год, и знают все тонкости работы с ними.</u></li>
          <li style="font-size: 15px"><h3 style="font-weight: bold; margin-top: 20px"><img src="https://www.iconpacks.net/icons/2/free-fast-buy-icon-3048-thumb.png" style="height: 40px; width: 40px; margin-right: 10px">Простой и быстрый процесс оформления заказа</h3><br> - <u>Нужно только заполнить форму и наши менеджеры свяжутся с вами в кратчайшие сроки!</u></li>
          <li style="font-size: 15px"><h3 style="font-weight: bold; margin-top: 20px"><img src="https://cdn2.iconfinder.com/data/icons/interview-21/64/skills-user-worker-decision-competence-employee-proactive_-512.png" style="height: 40px; width: 40px; margin-bottom: 10px; margin-right: 10px">Опытные и доброжелательные менеджеры</h3><br> - <u>Наши менеджеры будут рады вас проконсультировать и помогут вам в выборе билетов!</u></li>
      </ul>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      </div>
    </div>
  </div>
      <h1 class="display-5 fw-bold text-body-emphasis">Свяжитесь с Нами для Покупки Билетов!</h1>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <div class="dropdown">
	      <button class="btn btn-primary dropdown-toggle btn-lg px-4" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Свяжитесь с Нами
          </button>
          <ul class="dropdown-menu dropdown-menu-animated" aria-labelledby="dropdownMenuButton1" style=" text-align: left">
            <li><a class="dropdown-item" href="https://wa.me/+79313135990"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/WhatsApp_icon.png/640px-WhatsApp_icon.png" style="width: 20px; height: 20px">Whatsapp</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="https://t.me/AlyeParusaBilety"><img src="https://cdn-icons-png.flaticon.com/512/5968/5968940.png" style="width: 16px; height: 16px;">Telegram</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="tel:+79313135990"><img src="https://seekicon.com/free-icon-download/mobile-phone_1.png" style="width: 20px; height: 20px;">Звонок</a></li>
          </ul>
              <a href="{{ url_for('form')}}">
                  <button type="button" class="button btn btn-outline-success btn-lg px-4"><span>Заполнить Форму </span></button>
              </a>
        </div>
	</div>
      </div>
      </div>
    {% include "footer.html" %}